{% extends 'core/base.html' %}

{% block title %}Contact{% endblock %}

{% block background %} {% load static %} {% static 'core/img/contact-bg.jpg' %} {% endblock %}

{% block headers %}
    <h1>Contact</h1>
    <span class="subheading">Information</span>
{% endblock %}

{% block content %}
    <div class="col-lg-8 col-md-10 mx-auto">
        <p> To get in contact with me, please send me an <b><a href=mailto:“joaquinmarpas@gmail.com”>email</a></b>, <b><a href="https://www.linkedin.com/in/joaquinmaroto/">LinkedIn</a></b> or <b>call me!</b> </p>
        <br>
        <p><b>Phone Number:</b> (+34) 620 81 32 99</p>
    </div>
{% endblock %}
